* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.navigation {
  padding-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.navigation__logo {
  width: 30px;
}

.text__head {
  width: 425px;
}

.header {
  min-height: 768px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EBF3FB), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header__row {
  padding-top: 115px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url(img/illustration.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 44%;
}

.header__button {
  font-family: Roboto;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}

.header__bottom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__contacts {
  padding-top: 51px;
  padding-bottom: 59px;
  margin-top: 55px;
  margin-bottom: 59px;
  height: 250px;
  background-image: url(img/top_contact.svg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__text {
  margin-top: 16px;
  margin: 0 auto;
  width: 65%;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  opacity: 0.6;
}

.heading1 {
  width: 510px;
  color: #1F3F68;
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.heading2 {
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.heading3 {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.heading4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.main__top {
  padding-top: 64px;
}

.main__img {
  margin-top: 30px;
  margin-bottom: 56px;
}

.main__content {
  padding-top: 64px;
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 44px 32px;
  width: 359px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__heading {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
}

.main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 96px;
}

.row__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 51px;
  height: 121px;
}

.row__link {
  margin-top: 30px;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  text-decoration: none;
}

.row__heading {
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height: 30px;
  color: #1F3F68;
  margin-bottom: 14px;
}

.input {
  width: 100%;
  padding-top: 21px;
  padding-left: 36px;
  padding-bottom: 21px;
  border: 1px solid #356EAD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.2;
}

.btn {
  background: #5A98D0;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 23px 183px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  width: 100%;
}

.bottom__text {
  margin: 0 auto;
  width: 75%;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 64px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #222222;
}

.bottom__img {
  width: 100%;
}

.bottom-img__text {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  top: 64px;
  right: 64px;
}

.bottom__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.bottom__item__margin {
  margin-right: 32px;
}

.bottom__parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 32px;
}

.bottom-child__text {
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  top: 32px;
  left: 32px;
}

.form {
  padding-top: 48px;
}

.form__li {
  margin-bottom: 16px;
}

.form__label {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.8;
  margin-bottom: 8px;
}

.form__text {
  margin-top: 24px;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
  list-style: none;
  text-decoration: none;
}

.form__send {
  padding: 56px;
  width: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.chart {
  max-width: 1047px;
  margin: 0 auto;
}

.mail {
  list-style-image: url(img/mail.svg);
}

.site {
  list-style-image: url(img/site.svg);
}

.phone {
  list-style-image: url(img/phone.svg);
}

.footer {
  margin-top: 112px;
  background: #316099;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 91px;
  padding-bottom: 96px;
}

.footer__top__row {
  max-width: 459px;
}

.footer__top__btn {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  text-decoration: none;
  background: #5A98D0;
  padding: 15px 80px;
  height: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__heading {
  display: block;
  width: 340px;
}

.footer__contact {
  margin-left: 20px;
  padding-top: 64px;
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: decimal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.footer__copyright {
  padding-bottom: 64px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
}

.footer .text__footer {
  display: block;
  width: 80%;
  margin-top: 32px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .header__row {
    background-position: right 220px;
  }
  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 95px;
  }
  .main__row {
    margin-bottom: 32px;
  }
  .main__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__row__left {
    margin: 0 auto;
    max-width: 300px;
  }
  .main__img {
    margin-bottom: 64px;
  }
  .footer__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 39px;
  }
  .footer__li {
    margin-bottom: 25px;
  }
  .footer__top__btn {
    padding: 5px 38px;
    height: 32px;
  }
  .footer__heading {
    width: auto;
  }
  .footer__top {
    padding-left: 92px;
    padding-right: 92px;
  }
  .form__send {
    margin: 0 auto;
    width: 67%;
  }
  .heading4 {
    width: 161px;
  }
}

@media (max-width: 667px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: auto;
  }
  .heading1 {
    width: 100%;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 12px;
  }
  .heading2 {
    font-size: 24px;
    line-height: 28px;
  }
  .heading3 {
    margin: 0 auto;
    font-size: 24px;
    line-height: 28px;
    width: 60%;
    text-align: center;
  }
  .header {
    min-height: 376px;
  }
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: none;
    padding-top: 36px;
    padding-bottom: 41px;
  }
  .header .text__head {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }
  .header .navigation {
    padding-top: 24px;
  }
  .header__button {
    margin-top: 0;
    font-size: 12px;
    line-height: 26px;
    padding: 0 8px;
  }
  .header__text {
    font-size: 16px;
    margin-top: 32px;
  }
  .main__heading {
    font-size: 24px;
    line-height: 28px;
  }
  .main__content {
    padding: 64px 20px;
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__row {
    width: 100%;
    margin-top: 32px;
  }
  .main__row__left {
    margin-left: 42px;
  }
  .bottom__text {
    margin-bottom: 82px;
  }
  .bottom__item__margin {
    margin-right: 0;
  }
  
  .bottom__parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bottom-img__text {
    font-size: 16px;
    line-height: 16px;
    top: 16px;
    right: 16px;
  }
  .bottom-child__text {
    font-size: 16px;
    line-height: 19px;
    top: 26px;
    left: 16px;
  }
  .footer {
    margin-top: 64px;
  }
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    padding-top: 18px;
    padding-bottom: 40px;
  }
  .footer .text__footer {
    margin: 0 auto;
    margin-top: 32px;
    text-align: center;
    margin-bottom: 40px;
  }
  .footer__top__btn {
    padding: 2px 10px;
    height: 31px;
    width: 108px;
  }
  .footer__contact {
    line-height: 19px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 46px;
  }
  .footer__li {
    margin-bottom: 18px;
  }
  .footer__copyright {
    padding-bottom: 32px;
    text-align: center;
  }
  .footer__top__row {
    max-width: 100vh;
  }
  .footer hr {
    size: 7;
  }
  .form__send {
    width: 67%;
  }
  .btn {
    padding: 15px 60px;
  }
}
/*# sourceMappingURL=style.css.map */